<div style="clear: both;">
    <div style="float: left; padding-right: 20px;">
      <img src="headshot.jpg" alt="" width="200">
    </div>
    <div>
    <h2>About</h2>
      <p>I have recently recieved an MSc in Mathematical Modelling and 
          Scientific Computing from the University of Oxford.
          I have recently recieved an MSc in Mathematical Modelling and 
          Scientific Computing from the University of Oxford.
          I have recently recieved an MSc in Mathematical Modelling and 
          Scientific Computing from the University of Oxford.</p>
    </div>
</div>
<div></div>