<div style="clear: both;">
    <div style="float: left; padding-right: 20px;">
      <img src="headshot.jpg" alt="" width="200">
    </div>
    <div>
    <h2>About</h2>
      <p>My interests lie in cross-disciplinary quantitative research,
        applying mathematical and engineering concepts to fields of medecine, 
        sociology, finance, and biology. Some of my projects and publications include 
        Bayesian machine-learning approaches to improve radiation dose inference 
        in nuclear medicine, applying dynamic network and graph theory concepts to 
        evolving relations between social groups, and computational analysis of 
        biological pattern formation.
      </p>
    </div>
</div>
<div>I have recently recieved an MSc in Mathematical Modelling and 
    Scientific Computing from the University of Oxford and have a BAI (Sch.) in 
    Electronic and Computer Engineering from Trinity College Dublin.</div>